@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.attribution { 
    font-size: 11px; 
    text-align: center; 
    
    a {color: hsl(228, 45%, 44%);}
}

:root {
    --Green-200: hsl(148, 38%, 91%);
    --Green-600: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);

    --White: hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%);
    --Grey-900: hsl(187, 24%, 22%);
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: var(--Green-200);
}

.container, .container-md, .container-sm {
    max-width: 720px;
}


.fw-light{

    font-weight: 400 !important;
}

h3.fw-light{

    font-weight: 700 !important;

}
.form{
    font-family: 'Karla', sans-serif;
    border-radius: 15px;
    background-color: var(--White);
    width: 850px;
    height: 700px;
}

#wrapperForm .btn-success{
    background-color: var(--Green-600) !important;
}