@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --Green-200: hsl(148, 38%, 91%);
  --Green-600: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);

  --White: hsl(0, 0%, 100%);
  --Grey-500: hsl(186, 15%, 59%);
  --Grey-900: hsl(187, 24%, 22%);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: var(--Green-200);
  overflow-x: hidden;
}

/* Card principale */
.form-card {
  background-color: var(--White);
  border-radius: 15px;
}

/* Typo */
.fw-light {
  font-weight: 400 !important;
}

h3.fw-light {
  font-weight: 700 !important;
}

/* Bouton */
#wrapperForm .btn-success {
  background-color: var(--Green-600);
  border: none;
}

#wrapperForm .btn-success:hover {
  opacity: 0.9;
}

/* Attribution (si utilisée) */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
